
.header-wrapper{
    position: relative;
    background:url('../images/header-image.jpg') ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: -1;
}
.header-logo{
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.header-logo img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    border: 8px solid var(--primary-orange);
    top: 10%;
    left: 41%;
}

.main-info{
    left: 50%;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Playfair Display', serif;
  }

.name{
    color: var(--primary-red);
    padding: 1rem 1rem;
    font-family: Georgia, serif;
    font-size: 30px;
}

.title{
    height: 50px;
    overflow: hidden;
}

.title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

.title-item{
    height: 50px;
    font-size: 2rem;
    color: var(--primary-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, serif;
}

@keyframes move{
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{transform: translateY(-200px);
    }
}

.contact-button{
    color:var(--primary-white);
    font-size: 2rem;
    text-decoration: none;
    background-color: var(--primary-orange);
    padding: .5rem 2rem;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /* font-family: 'Playfair Display', serif; */
    
}

.header-icon{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 2s all;
}

.social-icon{
    color: var(--primary-orange);
    padding:1rem;
    font-size: 1.5rem;
    transition: all 2s;
    
}

.social-icon:hover{
    color: var(--primary-red);
    transition: all 1s;

}

@media screen and (max-width:576px){
    .header-logo img{
        width:150px;
        height:150px;
        top: 20%;
        left: 30%;
    }
}

@media screen and (max-width:1024px){
    
    .header-wrapper{
        position: relative;
        background-size: cover;
        background-position: center;
        height: 130vh;
        width: 100%;
    }
    .header-logo img{
        width:200px;
        height:200px;
        top: 20%;
    }
    .main-info{
        left: 50%;
        position: absolute;
    }
    .header-icon{
        margin-top: 0;
    }
}



@media screen and (max-width:1200px){
    .header-wrapper{
        position: relative;
        background-size: cover;
        background-position: center;
        height: 150vh;
        width: 100%;
    }

    .header-logo img{
        width:150px;
        height:150px;
        top: 20%;
        left: 43%;
    }
    .main-info{
        left: 50%;
        position: absolute;
        top: 70%;
    }
}