
.contact-short{
    max-width: 60vw;
    margin: auto;
    padding: 5rem 10rem;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translateY(50%);
}

.top-contact{
    display: grid;
    grid-template-columns: auto auto
}

.top-contact div:last-child{
    justify-self: end;
    align-self: center;
}

footer{
    padding: 14rem 0 9rem 0;
    background-color: var(--primary-red);
}



.footer-box{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.footer-about{
    padding: 1rem 2rem;
}
.footer-heading{
    color: var(--primary-white);
    margin-bottom: 2.4rem;
    font-family: 'Playfair Display', serif;
}
.inner-text {
    color: var(--primary-white);
    font-family: 'Playfair Display', serif;
    line-height: 1.5rem;
    font-size: 20px;
}

input{
    max-width: 50rem;
    color:var(--primary-white);
    padding: 1rem 2.4rem;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}
::placeholder{
    color: var(--primary-red) !important;
    font-weight: bold;
}
input[type="submit"]{
    max-width: 20rem;
    margin-top: 2rem;
    background-color: var(--primary-orange) !important;
    color: var(--primary-white) !important;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}