/* *************************HEADER********************** */

.header-wraper{
    position: relative;
    background:url('../images/header-image.jpg') ;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
}

.main-info{
  left: 50%;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Playfair Display', serif;
}
   

.header-logo img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    left: 42%;
    position: absolute;
    top: 3rem;
    /* transform: translate(-50%, -50%);
    text-align: center; */
    border: 8px solid var(--primary-orange);
}

.name{
    color: var(--primary-red);
    padding: 1rem 1rem;
}

.title{
    height: 50px;
    overflow: hidden;
}

.title-wraper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

.title-item{
    height: 50px;
    font-size: 2rem;
    color: var(--primary-orange);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

@keyframes move{
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{transform: translateY(-200px);
    }
}

.contact-button{
    color:var(--primary-white);
    font-size: 2rem;
    text-decoration: none;
    background-color: var(--primary-orange);
    padding: .5rem 2rem;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'Playfair Display', serif;
    
}

.header-icon{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 2s all;
}

.social-icon{
    color: var(--primary-orange);
    padding:1rem;
    font-size: 2rem;
    
}

.social-icon:hover{
    color: var(--primary-red);
}

@media screen and (max-width:576px) {
    .header-wraper{
    background-size: cover;
    background-position: center;
    height: 170vh;
    width: 146.2%;
    }
    .name{
        position: relative;
        top: 2rem;
        padding: 4rem;
    }
    .header-logo img{
        left: 36%;
    }
}
