/* *************************HEADER********************** */

.header-wraper{
    position: relative;
    background:url('../images/header-image.jpg') ;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
}

.main-info{
  left: 50%;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Playfair Display', serif;
}
   

.header-logo img{
    width: 320px;
    height: 310px;
    border-radius: 50%;
    left: 50%;
    position: absolute;
    top: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 8px solid var(--primary-orange);
}

.name{
    color: var(--primary-red);
    padding: 2rem 2rem;
}

.title{
    height: 50px;
    overflow: hidden;
}

.title-wraper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

.title-item{
    height: 50px;
    font-size: 2rem;
    color: var(--primary-orange);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

@keyframes move{
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{transform: translateY(-200px);
    }
}

.contact-button{
    color:var(--primary-white);
    font-size: 2rem;
    text-decoration: none;
    background-color: var(--primary-orange);
    padding: .5rem 2rem;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'Playfair Display', serif;
    
}

.header-icon{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 2s all;
}

.social-icon{
    color: var(--primary-orange);
    padding:1rem;
    font-size: 2rem;
    
}

.social-icon:hover{
    color: var(--primary-red);
}


