.component_space{
    width: 100%;
    height: 100vh;
}
.col_3{
    max-width: 33.333333%;
    display: grid; 
    padding: 20px;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
    
}
h1.heading{
    margin-top: 8rem;
    font-size: 60px;
    text-align: center;
   font-weight: 700;
   font-family: 'Playfair Display', serif;
   margin-bottom: 10px; 
}
p.heading.p_color{
    margin-bottom: 0;
    text-align: center;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
}
.service_box{
    border-radius: 10px;
    width: 100%;
    background-color: #191919;
    transition: .4s ease;
    padding: 55px;

}
.service_box:hover{
    transform: translateY(5px);
    background-image: linear-gradient(90deg, #f61b10, #ef0963);
}

.service_box:hover .icon{
    color: var(--primary-white);
}

.service_section{
    font-family: 'Playfair Display', serif;
    font-size: 23px;

}

.icon{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
    display: inline-flex;
    color: var(--primary-red);
}

p.service_text.p_color{
    margin-bottom: 0;
}

h1.service_text{
    font-size: 30px;
    padding: 10px 0;
}

@media screen and (max-width:1024px) {
    
    .service_box{
        padding: 32px;
    }
}