@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');


 body{
    font-family: 'Playfair Display', serif;
} 

:root{
    --primary-white: #fff;
    --primary-orange: #FF8B13;
    --primary-red: #820000;
}

/* *************************Navbar********************** */
.logo{
    width: 190px;
    height: 90px;
}

/* Menu Link */

nav a.nav-link{
    font-size: 500;
    letter-spacing: 0.6px;
    cursor: pointer;
}

nav ul li{
    text-transform: uppercase;
}

.navbar-nav > li > a{
color: var(--primary-white) !important;
margin-left: 12px;
margin-right: 12px;

}

.navbar-brand{
    max-height: 17rem;
    padding: 0 !important;
    height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
    border-bottom: 4px solid var(--primary-orange);
}

.navbar-nav > li > a:hover{
    border-bottom: 4px solid var(--primary-orange);
}

/* *************************HEADER********************** */

.header-wraper{
    position: relative;
    background:url(./images/header-image.jpg) ;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
}

.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

h1{
    color: var(--primary-orange);
}

/* .typed-text{
    font-size: 2rem;
    color: var(--primary-white);
} */

/* *************************CONTACT BUTTON********************** */

.contact-button{
    
}